<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.dbventasConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbventas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.PracticaConnectionString"
            connectionString="Data Source=.;Initial Catalog=Practica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.dbventasProyectTerConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbventasProyectTer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>